@model EatIn.Models.ListIngredient

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ListIngredient</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @for (int i = 0; i < 3; i++)

    {

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="[@i].Amount" id="[@i].Amount" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="[@i].Name" id="[@i].Name" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="[@i].Unit" id="[@i].Unit" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecipeTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="[@i].RecipeTitle" id="[@i].RecipeTitle" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecipeUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="[@i].RecipeUrl" id="[@i].RecipeUrl" class="form-control" />
            </div>
        </div>
    }


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
